.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.navbar h2 {
    color: white;
}

.navbar .logo {
    margin-left: 20px;
}